.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 15px;
  padding: 15px;
  border: 2px solid #001;
  background-color: rgb(230, 221, 221);
}
.item {
  background-color: rgb(113, 240, 113);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
}
