.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    background-color: aliceblue;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: rgb(64, 158, 231);
    color: white;
    text-align: center;
    line-height: 100px;
}